.user-list-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list-item:last-child {
  border-bottom: none;
}

.user-email {
  font-weight: bold;
}

.user-age {
  color: #666;
}
